<table width="950" border="0" cellspacing="0" cellpadding="0" style="line-height: 140%;">
          <tr>
            <td height="1152"><p style="text-align: center; font-size: 22 px;"><br/><br/><span class="style6"><STRONG>About Us</STRONG> <BR>
                </span></p>
              <p class="style6"><br>
                  <img src="/assets/coversmall.jpg" alt="cover naked punch 07" width="180" height="223" align="left"  style="margin-right: 10px;">Naked Punch originates
                from a collective, now dissolved, called “The Postanalytic Group”,
                that in 2002 met for a series of weekly gatherings. Naked Punch
                is run by a large editorial collective headed by three editors
                working on a voluntary basis.<br>
                  <br>
                Naked Punch is an engaged review of contemporary art and thought.
                Essentially a federal, &quot;non-institutional&quot; project,
                Naked Punch is the spontaneous collaboration of thinkers and artists
                residing in different cities of the world. Before being a magazine,
                a container of material or a &quot;cabinet of objects&quot;, it
                is a shared understanding, a shared feeling of unease, a shared
                concern, and a shared sensitivity. <br>

                A distinguishing feature of Naked Punch is its contemporaneity
                . The review aims to actively engage with current developments
                in, broadly, three deeply connected areas. <br>
                  <br>
                The first concern we aim to address is the philosophical or, more
                generally, theoretical impasse that characterises much of contemporary
                discussion. Torn between a highly self-conscious &quot;European&quot;
                difficulty to surpass the deconstructive rhetoric and an English
                speaking philosophy that has divorced itself from fundamental
                cultural and social engagements, the current state of theoretical
                thought is in need of a new direction that actively surmounts
                the risk of a purely self-referential, quasi-aesthetic philosophy,
                and the risk of an escape to an &quot;ivory tower&quot; characterised
                by exquisitely technical concerns and &quot;professionalized&quot;
                philosophising. <br>

                  <br>
                The second concern may be termed social or political . In times
                of great political turbulence, where the classical categories
                of political understanding and social division prove their inefficacy
                daily, a renewed interest in and engagement with the course our
                global society is taking is vitally necessary. Aside from political
                figures, we aim to pose the question of the shape our society
                ought to take to philosophers and artists alike, inaugurating
                a platform of social debate between different and varied currents
                of thought.<br>
                  <br>
                The third concern we may call artistic . By treating artists and
                film directors as serious thinkers, we aim to put into communication
                contemporary artistic currents with the developments of society
                at large. We believe in the power of art to render more intelligible
                the reality one dwells in, or &quot;the spirit of the age&quot;,
                to use such a term. <br>
                  <br>
                Our inter-disciplinary character aims to persuade the reader that
                the areas of expression just discussed cannot be clearly divided
                up in &quot;spheres of influence&quot;, to be tackled by an exquisitely
                professionalized one-dimensional thinker. It is rather the interplay
                of such disciplines that, representing the fundamental expression
                and definition of the age, needs to be fostered and encouraged. <br>

                  <br>
                We strive to create debate and conversation over and across entrenched
                institutional and academic lines – with the hope of creating options
                that can help us reassert our agency in creating and shaping our
                shared existence. Naked Punch is an internationalist project;
                we actively seek to introduce our readers to thinkers geographically
                outside of the Western hemisphere in the hope of creating a 'fusion
                of horizons', which can truly reflect and further the hybrid and
                interrelated nature of our existence. </p>
              <p class="style6"><br>
                  <strong>Not just a magazine</strong></p>
              <p class="style6"><br>
                  <img src="/assets/cabaret.jpg" alt="cabaret orphee" width="180" height="285" align="left" style="margin-right: 10px;"> Because of its origin, Naked Punch has always been more then a
                magazine. It has always attempted to draw people together, to
                increase debate, to engage with an array of media. <br>
                For this reason the Naked Punch Collective is also an active organiser
                of cultural, political, and artistic events, as well as engaging
                in the field of art practice and cinema. </p>

              <p class="style6">In late 2005, Naked Punch has organised a short
                series of “cabaret” nights in London, by the name “Cabaret Orpheй”,
                eclectically employing musical and theatrical elements. </p>
              <p class="style6">In 2006, Naked Punch has organised an international
                symposium of contemporary aesthetics around the figure of Arthur
                Danto, one of the key participants together with Richards Shusterman. <br>
                Also in 2006, another symposium by the title “The Future of Islam:
                Possible Paths” has been organised, with the participation of
                Tariq Ramadan and Ziaouddin Sardar. </p>
              <p><span class="style6">Naked Punch has also organised a series
                of launch parties to accompany its new issues. These generally
                included the performance of a number of short plays, experiments
                with sound, and spoken word.</span></p>
              <p class="style6">Naked Punch is an independent publication and
                needs public support and encouragement. Please subscribe to the
                magazine, or support our project by becoming a patron. You can
                find more information on the drop-down menus above.</p>


              <p class="style6">We hope you will enjoy our publication. Naked Punch is an open collective, we welcome your involvement, feedback, and/or submissions. </p>
              <p>You can contact us at <A href="mailto:info@nakedpunch.com" class="style11">info@nakedpunch.com</A></p>
              <br>
              <p align="center" class="style6"><STRONG><a name="collective"></a>The
                Naked Punch Board is as follows:</STRONG></p>
              <div align="center">
                <table width="455" height="246" border="0">
                  <tr>
                    <td><div align="center">
                        <div align="left">
                          <p class="style17"><strong>Editor:</strong></p>
                          <p class="style16">Qalandar Bux Memon<br></p>
                          <p class="style17"><strong>Editorial Committee:</strong></p>
                          <p class="style16">
                          Francesco Cincotta<br>
                          Oscar Guardiola-Rivera<br>
                          Illan Wall<br>

                          <p class="style17"><strong>Assistant Editors:</strong></p>

                          <p class="style16">
                            Amin Samman<br>
                            Zoe Sutherland<br>
                          </p>
                          <p class="style16">
                          <span class="style17"><strong>Contributing Editors: </strong></span></p>

                          <p class="style16">
                            Amelie Barras<br>

                            John Chalcraft<br>
                            Peter Eramian<br>
                            Kyoo Lee<br>

                            Sylvia Ospina<br>
                            Vijay Prashad<br>

                            <br>

                          <strong>Artists:</strong></p>
                          <p>Sarah Adina<br>
                          Mark Charles <br>
                          Scott Chasserot<br>
                          Motohiko Hasui<br>
                          Saiful Huq <br>

                          Eunkyung Kang <br>
                          </p>

                        </div>
                    </div></td>
                    <td bordercolor="#ECE9D8"><div align="center">
                        <div align="left">

                          <p class="style17">Consulting Editors:</p>
                          <p class="style16">
                            David Barsamian<br>
                            Simon Critchley <br>
                            Arthur Danto<br>
                            Costas Douzinas <br>Selma James<br>

                            Hilary Lawson<br>

                          Marcus Rediker<br>
                            Ziauddin Sardar <br>
                            Richard Shusterman<br>

                          Peter Weibel </p>
                          <p class="style17"><strong>Editorial Collaborators:</strong></p>

                          <p class="style16">

                          Holly de las Casas<br>

                          Zeeshan Malik<br>

                          Iffat Memon<br>
                          Zain Sardar <br>
                          </p>
                          <p class="style17"><strong>Business Director:</strong></p>

                          <p class="style16">Alexis Petri</p>
                          <p class="style17">Art Direction and Design</p>
                          <p class="style16">Rasha Kahil</p>

                          <p class="style17"><strong>Website Design:</strong></p>
                          <p class="style16">Sheikh Billal</p>
                          <p class="style16">Malik Zeeshan</p>

                        </div>
                    </div></td>
                  </tr>
                </table>
               </div>
               <br>
               <p align="center" class="style6"><STRONG><a name="collective"></a>
                Bol Magazine (Naked Punch Asia) Board is as follows:</STRONG></p>
                <div align="center">
                <table width="455" height="246" border="0">
                  <tr>
                    <td><div align="center">
                        <div align="left">
                          <p class="style17"><strong>Editorial Committee:</strong></p>
                          <p class="style16">
                          Qalandar Bux Memon <br>
                          Vijay Prashad<br>
                          Fawzia Afzal Khan<br>

                          <p class="style17"><strong>Picture Editor:</strong></p>

                          <p class="style16">
                            Peter Eramian<br>
                          </p>
                          <p class="style16">
                          <span class="style17"><strong>Editorial Assistant: </strong></span></p>

                          <p class="style16">
                            Muhammad Usman Farooq<br>
                            <br>

                          <strong>Artists:</strong></p>
                          <p class="style16">Sara Khan<br>
                          Robert Der Arakelian <br>
                          </p>

                        </div>
                    </div></td>
                    <td bordercolor="#ECE9D8"><div align="center">
                        <div align="left">

                          <p class="style17"><strong>Poetry Editors:</strong></p>
                          <p class="style16">
                            Ali Mohsin<br>
                            Leo Halepli <br>


                        </div>
                    </div></td>
                  </tr>
                </table>
               </div>


              </td>
          </tr>
          <tr>
            <td height="19">&nbsp;</td>
          </tr>
        </table>
