<div class="col-lg-9" style="padding: 0px;">
  <div class="articles-table">
    <table style="width:100%">
      <tr>
        <td>
          <div class="article-image"> <a href="#"><img alt="_n" height="130px" src="/assets/article.jpg" width="100px"></a></div>
          <div class="article-summary">
            <h4 style="margin: 0px; padding-left: 0px;"><a href="#" class="link_decoration">The War on the Baloch: An Interview with Meerain Baloch</a></h4>
            <div class="article-summary-author"> <h6><i><b>by Meerain Baloch</b></i></h6></div>
            <div class="article-summary-text"><h6>Qalandar Bux Memon: It has been widely acknowledged that the Pakistani establishment has used right-wing Sunni jihadi organisations as a way to counte...</h6></div>
          </div>
        </td>
        <td>
          <div class="article-image"> <a href="#"><img alt="_n" height="130px" src="/assets/article.jpg" width="100px"></a></div>
          <div class="article-summary">
            <h4 style="margin: 0px; padding-left: 0px;"><a href="#" class="link_decoration">The War on the Baloch: An Interview with Meerain Baloch</a></h4>
            <div class="article-summary-author"> <h6><i><b>by Meerain Baloch</b></i></h6></div>
            <div class="article-summary-text"><h6>Qalandar Bux Memon: It has been widely acknowledged that the Pakistani establishment has used right-wing Sunni jihadi organisations as a way to counte...</h6></div>
          </div>
        </td>
      </tr>
      <tr>

        <td>
          <div class="article-image"> <a href="#"><img alt="_n" height="130px" src="/assets/article.jpg" width="100px"></a></div>
          <div class="article-summary">
            <h4 style="margin: 0px; padding-left: 0px;"><a href="#" class="link_decoration">The War on the Baloch: An Interview with Meerain Baloch</a></h4>
            <div class="article-summary-author"> <h6><i><b>by Meerain Baloch</b></i></h6></div>
            <div class="article-summary-text"><h6>Qalandar Bux Memon: It has been widely acknowledged that the Pakistani establishment has used right-wing Sunni jihadi organisations as a way to counte...</h6></div>
          </div>
        </td>
        <td>
          <div class="article-image"> <a href="#"><img alt="_n" height="130px" src="/assets/article.jpg" width="100px"></a></div>
          <div class="article-summary">
            <h4 style="margin: 0px; padding-left: 0px;"><a href="#" class="link_decoration">The War on the Baloch: An Interview with Meerain Baloch</a></h4>
            <div class="article-summary-author"> <h6><i><b>by Meerain Baloch</b></i></h6></div>
            <div class="article-summary-text"><h6>Qalandar Bux Memon: It has been widely acknowledged that the Pakistani establishment has used right-wing Sunni jihadi organisations as a way to counte...</h6></div>
          </div>
        </td>

      </tr>
      <tr>
        <td>
          <div class="article-image"> <a href="#"><img alt="_n" height="130px" src="/assets/article.jpg" width="100px"></a></div>
          <div class="article-summary">
            <h4 style="margin: 0px; padding-left: 0px;"><a href="#" class="link_decoration">The War on the Baloch: An Interview with Meerain Baloch</a></h4>
            <div class="article-summary-author"> <h6><i><b>by Meerain Baloch</b></i></h6></div>
            <div class="article-summary-text"><h6>Qalandar Bux Memon: It has been widely acknowledged that the Pakistani establishment has used right-wing Sunni jihadi organisations as a way to counte...</h6></div>
          </div>

        </td>
        <td>
          <div class="article-image"> <a href="#"><img alt="_n" height="130px" src="/assets/article.jpg" width="100px"></a></div>
          <div class="article-summary">
            <h4 style="margin: 0px; padding-left: 0px;"><a href="#" class="link_decoration">The War on the Baloch: An Interview with Meerain Baloch</a></h4>
            <div class="article-summary-author"> <h6><i><b>by Meerain Baloch</b></i></h6></div>
            <div class="article-summary-text"><h6>Qalandar Bux Memon: It has been widely acknowledged that the Pakistani establishment has used right-wing Sunni jihadi organisations as a way to counte...</h6></div>
          </div>

        </td>
      </tr>
    </table>
  </div>
  <div> <a href="#" class="btn btn-default" style="float: right;">More Articles   <span class="glyphicon glyphicon-forward"></span></a></div>
</div> <!-- class="col-lg-9" -->
