<div class="col-lg-3" style="padding: 0px;"> <!-- Side Bar -->
  <div id="donate-div">
    <div class="center">
      <div style="text-align: center;">
        <h3>Donate to Nakedpunch</h3>
      </div>
      <br>
      <div style="text-align: center;">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="Q44TC8B8G9EX8">
        <input type="image" src="https://www.paypal.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>
      </div>
    </div><!--center-->
  </div><!--donate-div-->
  <div id="ymlp_subscription_form">
  <form method="post" action="http://ymlp.com/subscribe.php?id=guuqwqsgmgs" target="_blank">
    <table class="subscribe-table" align="center" border="0" cellpadding="5" cellspacing="0">
    <tbody>
    <tr>
    <td>
    <div><span style="font-size: 10pt;">Fill out your e-mail address<br>to receive our newsletter!</span></div>
    </td>
    </tr>
    <tr>
    <td valign="top"><span style="font-size: 10pt;">E-mail address:</span></td>
    </tr>
    <tr>
    <td valign="top"><input gtbfieldid="16" name="YMP0" size="28" type="text"></td>
    </tr>
    <tr>
      <td align="center"><input type="submit" class="btn btn-info" value="Join Mailing List"></td>
    </tr>
    </tbody>
    </table>
  </form>
  </div> <!-- ymlp_subscription_form -->
</div>
